<!DOCTYPE html>

<html>

<head>

    <title>Template</title>

    <meta charset="UTF-8">
    <meta name="description" content="HTML,CSS,JavaScript Template">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Name Surname">

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="scripts/script.js"></script>

</head>

<body>

    <header>
        <h1>Header</h1>
        <nav>
            <a href="#coffee">Coffee</a>
            <a href="#urban">Urban</a>
            <a href="#blends">Blends</a>
        </nav>
    </header>

    <main>
        <div class="container">

            <section id="coffee">
                <h2>Coffee from around the world</h2>
                <img src="http://placehold.it/500x200" alt="Map of coffee regions">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto hic provident temporibus cum quos quam alias, esse dolorum vitae laborum ipsum impedit obcaecati nam, nobis molestias ratione debitis perferendis.</p>
            </section>

            <section class="urban">
                <h2>Urban</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatum quos rem suscipit ullam quas, sunt beatae atque culpa quia laborum, temporibus eaque, voluptas sapiente harum velit. Incidunt, et, enim.</p>
            </section>

        </div>

    </main>

    <footer>
        <a href="#coffee">Back to top</a>
    </footer>

</body>

</html>