body {
    background-color: #ffffff;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 70pt;
    line-height: 35pt;
    padding-bottom: 25px;
    color: aquamarine;
    text-align: center;
}

h3,
h5,
nav,
p,
ul {
    font-family: 'Arimo', sans-serif;
}

h1,
nav {
    text-align: center;
}

nav {
    letter-spacing: 2px;
}

h3,
.top-nav {
    font-weight: 700;
}

p,
ul,
social-nav {
    font-weight: 400;
}

nav {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
}

.top-nav,
.social-nav {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.top-nav:hover,
.social-nav:hover {
    color: aquamarine;
}

.top-nav {
    font-size: 12pt;
}

.social-nav {
    font-size: 8pt;
}

p,
ul {
    font-size: 11pt;
    line-height: 14pt;
}

#about-me-container {
    height: 200px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: aquamarine;
}

#about-me {
    width: 540px;
    height: 180px;
    padding-top: 60px;
}

#profile-pic {
    float: right;
    padding: 20px 0px;
}

#active-page {
    color: aquamarine;
}

.portfolio-image {
    width: 400px;
    padding-bottom: 10px;
}