/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Aaron Stannard
Developer @GA in SYD
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Open Sans', sans-serif;
    width: 1200px;
    margin: 0px auto;
/*    padding: 0px;*/
}


/******************************************
/* LAYOUT
/*******************************************/

#container {
    width: 100%;
}

header {
    width: 100%;
    background: url("../images/header_bg.jpg");
    text-align: center;
}

footer {
    width: 100%;
    background: #121211;
    color: #ffffff;
    padding: 70px 0px 50px 0px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
    font-size: 24pt;
    margin: 0px;
}

#header-logo {
    color: #ffffff;
    text-align: left;
    padding-top: 40px;
    padding-left: 120px;
    padding-bottom: 130px;
}

h2 {
    font-size: 24pt;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 90px;
    margin: 0px;
}

#benefits {
    background: #f0efef;
    color: #033048;
    padding: 100px 500px 100px 120px;
    font-size: 13pt;
    font-weight: 300;
}

h3 {
    font-weight: 600;
    font-size: 20pt;
    margin: 0px;
}

#benefits p,
#benefits ul {
    color: #616161;
}

#testimonial {
    background: url("../images/testimonial_bg.jpg");
    color: #ffffff;
    text-align: center;
    font-size: 18pt;
    padding: 0px 400px;
}

#testimonial #quote {
    margin: 0px;
    font-weight: 300;
    font-style: italic;
    padding-top: 80px;
    padding-bottom: 10px;
}

#testimonial #name {
    margin: 0px;
    font-weight: 600;
    padding-bottom: 80px;
}

#get-it {
    width: 100%;
    padding-bottom: 300px;
}

#sign-up {
    width: 100%;
    background: #f9e42e;
    padding: 32px 0px;
}

.yellow-button,
.blue-button {
    width: 262px;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    padding: 12px 0px;
    margin: auto;
}

.yellow-button {
    font-size: 14pt;
    background: #f9e42e;
    color: #033048;
}

.blue-button {
    font-size: 12pt;
    background: #033048;
    color: #f1efee;
}

#footer-logo {
    color: #f9e42e;
    text-align: center;
    padding-bottom: 60px;
}

#social-icons {
    widows: 100%;
    padding-bottom: 90px;
}

#tw-icon {
    position: absolute;
    width: 43px;
    right: 50%;
    margin-right: 10px;
}

#fb-icon {
    position: absolute;
    width: 43px;
    left: 50%;
    margin-left: 10px;
}

h6 {
    font-size: 9pt;
    font-weight: 600;
    text-align: center;
    margin: 0px;
}