.cf,
.cf:before {
    content: " ";
    display: table;
}

.cf:after {
    content: " ";
    display: table;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.game .inputs {
    margin: 0 auto;
}

#results {
    display: none;
}

a {
    cursor: pointer;
    float: left;
}

.scoreboard {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #eee;
    padding: 30px;
}